# Entornos virtuales
venv/
.venv/
.fourier/
env/
ENV/

# Variables de entorno
.env
.env.*
!.env.example

# Archivos de VS Code
.vscode/

# Archivos de PyCharm
.idea/

# Cachés de Python
__pycache__/
*.py[cod]
*$py.class

# Archivos compilados
build/
dist/
*.egg-info/

# Jupyter
.ipynb_checkpoints/

# Logs
*.log

# Archivos del sistema
.DS_Store
Thumbs.db